@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #DBF6E9;
}
header .nav-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 13rem;
  height: 5rem;
}
header nav .menu ul {
  list-style: none;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  margin-right: 0.8rem;
}
header nav .menu ul li a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px grey;
}

nav #toggle, nav label {
  display: none;
}

nav label img {
  margin-right: 2rem;
}

.main-ppal {
  background-image: url(../assets/img/Home/background-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-principal {
  font-family: "Great Vibes";
  text-align: left;
  color: white;
  font-size: 5rem;
  padding-top: 70px;
  padding-left: 2rem;
  padding-bottom: 2rem;
  text-shadow: 3px 1px rgba(105, 99, 99, 0.795);
}

.seccion-sobremi {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.seccion-sobremi .sobremi-ppal h1 {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  font-family: "Great Vibes";
  color: #52BBB4;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
  justify-content: right;
  padding-top: 0.5rem;
  padding-right: 4rem;
}
.seccion-sobremi .sobremi-ppal p {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}
.seccion-sobremi .foto-sobremi img {
  width: 15rem;
  height: 25rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.certificaciones div h2 {
  font-family: "Great Vibes";
  color: #52BBB4;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
}
.certificaciones .list-certif {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.certificaciones .list-certif li p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.servicios h1 {
  font-family: "Great Vibes";
  color: #52BBB4;
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  margin-bottom: 1rem;
}

.carousel-inner {
  border-radius: 20px;
  text-shadow: 1px 1px black;
}

.servicios .carousel-inner h2 {
  font-size: 1rem;
  display: flex;
  padding-bottom: 0.5rem;
}
.servicios .carousel-inner p {
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

.recetas-varias {
  background-image: url(../assets/img/recetas/fondo.jpg);
  background-repeat: no-repeat;
  height: 100%;
}

section div img {
  width: 12rem;
  height: 10rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.titulo-recetas, .subtitulo-recetas {
  text-align: center;
  font-family: "Great Vibes";
  font-size: 2rem;
  padding: 0.5rem 0;
  text-shadow: 2px 2px 2px white;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-cards .card div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-cards .recep-titles h3 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.recep-but {
  margin-bottom: 0.8rem;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 10px;
  padding: 3.5px;
}

.recep-but:hover {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  background-color: lightcyan;
}

.mas-info {
  background-image: url(../assets/img/mas-info/fondo-mas-info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 78vh;
}
.mas-info h1 {
  font-family: "Great Vibes";
  text-align: center;
  color: #52BBB4;
  font-size: 3rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px white;
}
.mas-info .info-body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 10rem;
  text-indent: 3rem;
  line-height: 2rem;
  text-shadow: 2px 1px 1px white;
}

.main-prep {
  background-color: rgba(224, 255, 255, 0.164);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.main-prep button {
  font-size: 0.8rem;
  padding: 0;
  margin: 0.5rem;
  padding-right: 2rem;
}
.main-prep h1 {
  font-family: "Great Vibes";
  text-align: right;
  color: #52BBB4;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
}
.main-prep .accordion-body {
  line-height: 0.7rem;
}

footer {
  background-color: #DBF6E9;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
}
footer div h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  padding-top: 0.5rem;
  text-decoration: underline;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
footer ul li {
  display: inline-block;
  padding-bottom: 0.5rem;
}
footer ul li a {
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1440px) {
  /**Index**/
  .main-ppal {
    height: 79vh;
  }
  /**Sobre mí**/
  .seccion-sobremi .sobremi-ppal h1 {
    margin-top: 1rem;
  }
  .seccion-sobremi .sobremi-ppal p {
    margin-top: 2rem;
  }
  .certificaciones {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .sobremi-footer div .cont-sobremi {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .sobremi-footer ul li {
    margin-bottom: 1rem;
  }
  /***Servicios***/
  .servicios h1 {
    font-size: 2.5rem;
    padding-top: 0.5rem;
  }
  .servicios .row {
    margin-top: 0.5rem;
  }
  .servicios .carousel-inner {
    width: 65%;
    height: 10%;
  }
  .servicios-footer div .cont-servi {
    font-size: 1rem;
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 1rem;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias section div img {
    width: 10rem;
    height: 8rem;
  }
  .recetas-varias .container-cards h3 {
    font-size: 1.2rem;
  }
  .recetas-varias .container-cards .recep-but {
    margin-bottom: 2.5rem;
  }
  .recetas-footer .foot-recets {
    font-size: 1.2rem;
  }
  .recetas-footer div ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  /**Más Info**/
  .masinfo-footer {
    font-size: 0.9rem;
  }
  /**Preparaciones **/
  .main-prep button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.6rem;
    padding-right: 3rem;
  }
  h1 {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
  }
  .accordion-body {
    line-height: 2rem;
  }
  .contacts-prep {
    font-size: 1.5rem;
    padding: 0;
  }
  .contacts-preparaciones li {
    font-size: 1.3rem;
    padding: 0;
  }
}
@media (max-width: 1366px) {
  /**Index**/
  .main-ppal {
    height: 75vh;
  }
  /**Sobre mí**/
  .seccion-sobremi .foto-sobremi img {
    width: 12rem;
    height: 20rem;
  }
  .seccion-sobremi .sobremi-ppal p {
    margin-top: 0.7rem;
  }
  .certificaciones {
    margin-top: 0.8rem;
    margin-bottom: 2rem;
  }
  .sobremi-footer div .cont-sobremi {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .sobremi-footer ul li {
    margin-bottom: 1rem;
  }
  /**Servicios**/
  .servicios h1 {
    font-size: 2.7rem;
    padding-top: 0.1rem;
  }
  .servicios .row {
    margin-top: 0;
  }
  .servicios-footer div .cont-servi {
    font-size: 1rem;
  }
  .servicios-footer ul li {
    font-size: 1rem;
  }
  /**Recetas**/
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.7rem;
    padding: 0.1rem;
  }
  .container-cards h3 {
    font-size: 0.8rem;
  }
  section div img {
    width: 11rem;
    height: 8rem;
  }
  .container-cards .recep-but {
    margin-bottom: 1.5rem;
  }
  .recetas-footer div .foot-recets {
    font-size: 1rem;
  }
  .recetas-footer div ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  /**Más Info**/
  .masinfo-footer .contactos {
    font-size: 0.8rem;
  }
  /**Preparaciones**/
  .main-prep button {
    margin: 0.5rem;
  }
  .contacts-prep {
    font-size: 1.2rem;
  }
  .contactos-preparaciones li {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  /** Index **/
  .main-ppal {
    height: 75vh;
  }
  .titulo-principal {
    font-size: 3rem;
  }
  .index-footer div h2 {
    font-size: 0.9rem;
    padding-bottom: 0;
  }
  .index-footer ul li {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  /**Sobre mí**/
  .seccion-sobremi .sobremi-ppal h1 {
    margin: 0;
    font-size: 2rem;
  }
  .seccion-sobremi .sobremi-ppal p {
    font-size: 0.8rem;
    padding: 0 0.9rem;
  }
  .seccion-sobremi .foto-sobremi img {
    width: 10rem;
    height: 17rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .certificaciones {
    margin: 0;
  }
  .certificaciones div h2 {
    font-size: 2rem;
  }
  .certificaciones .list-certif li p {
    font-size: 0.8rem;
  }
  .sobremi-footer div .cont-sobremi {
    padding: 0;
    font-size: 0.9rem;
    margin: 0;
  }
  .sobremi-footer ul li {
    margin: 0.3rem;
    font-size: 0.8rem;
    padding: 0;
  }
  /** Servicios **/
  .servicios h1 {
    font-size: 2rem;
    padding-top: 0.2rem;
  }
  .servicios .row {
    margin-top: 0;
  }
  .servicios .carousel-inner {
    width: 60%;
    height: 10%;
  }
  .servicios-footer div .cont-servi {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.5rem;
    padding: 0.2rem 0;
  }
  .recetas-varias .container-cards h3 {
    font-size: 0.8rem;
  }
  .recetas-varias .container-cards .recep-but {
    margin-bottom: 1rem;
  }
  .recetas-varias .container-cards img {
    width: 8rem;
    height: 6rem;
  }
  .recetas-footer div .foot-recets {
    font-size: 0.8rem;
    padding: 0;
  }
  .recetas-footer div ul li {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .mas-info {
    height: 75vh;
  }
  .mas-info h1 {
    margin-bottom: 0;
    padding-top: 0.5rem;
    font-size: 2.5rem;
  }
  .mas-info div .info-body {
    font-size: 0.9rem;
    padding: 0.5rem 5rem;
    text-indent: 1rem;
    line-height: 1rem;
  }
  .masinfo-footer .contactos {
    padding-bottom: 0;
    padding-top: 0.5rem;
  }
  .masinfo-footer div .contactos-masinfo {
    font-size: 0.8rem;
    padding-bottom: 0;
  }
  /**Preparaciones **/
  .main-prep button {
    font-size: 0.8rem;
    margin: 0;
  }
  .main-prep h1 {
    font-size: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0;
  }
  .accordion-body {
    line-height: 0.5rem;
    font-size: 0.8rem;
  }
  .contacts-prep {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  .contacts-preparaciones li {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
  }
  .contacts-preparaciones li img {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  /**Sobre mi**/
  .seccion-sobremi .sobremi-ppal p {
    font-size: 0.7rem;
    padding: 0 1rem;
  }
  .seccion-sobremi .foto-sobremi img {
    width: 10rem;
    height: 15rem;
  }
  .certificaciones div h2 {
    margin-top: 0;
  }
  .certificaciones ul li p {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
  }
  .sobremi-footer ul li {
    font-size: 0.8rem;
    margin: 0;
    padding: 0.1rem 0;
  }
  /**Servicios**/
  .servicios h1 {
    font-size: 2.5rem;
  }
  .carousel-inner {
    width: 100%;
    height: 20%;
    margin-bottom: 3.5rem;
  }
  .servicios-footer div h2 {
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 0.8rem;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.2rem;
  }
  .recetas-varias .container-cards img {
    width: 7rem;
    height: 6rem;
  }
  .recetas-varias .container-cards .recep-but {
    font-size: 0.7rem;
  }
  .recetas-varias .container-cards h3 {
    font-size: 0.7rem;
  }
  .recetas-footer div ul li {
    font-size: 0.8rem;
  }
  /**Más Info**/
  .mas-info {
    height: 68vh;
  }
  .mas-info div .info-body {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
  }
  .mas-info div .contactos-masinfo {
    font-size: 0.7rem;
  }
  /** Preparaciones **/
  .contacts-prep {
    font-size: 1rem;
  }
  .contacts-preparaciones {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  /** Index **/
  .main-ppal {
    background-size: cover;
    height: 70vh;
  }
  .main-ppal .titulo-principal {
    font-size: 2.5rem;
  }
  .index-footer div .index-cont {
    padding-bottom: 0.2rem;
  }
  .index-footer ul li {
    font-size: 0.7rem;
    display: inline-flex;
    padding: 0;
    padding-left: 0.5rem;
    height: 0.7rem;
  }
  nav .logo {
    width: 9rem;
    height: 3rem;
  }
  /** Sobre mí **/
  .seccion-sobremi .foto-sobremi img {
    width: 6rem;
    height: 10rem;
  }
  .seccion-sobremi .sobremi-ppal h1 {
    font-size: 1.5rem;
  }
  .seccion-sobremi .sobremi-ppal p {
    font-size: 0.6rem;
    padding: 0 1rem;
  }
  .certificaciones div h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .certificaciones .list-certif li p {
    font-size: 0.6rem;
  }
  .sobremi-footer div .cont-sobremi {
    font-size: 0.7rem;
  }
  .sobremi-footer ul li {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
  }
  .sobremi-footer ul li img {
    height: 0.6rem;
  }
  /** Servicios **/
  .servicios h1 {
    font-size: 2rem;
  }
  .servicios .carousel-inner {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
  }
  .servicios-footer {
    margin: 0;
  }
  /** Recetas **/
  .nav-recp .logo {
    width: 8rem;
    height: 3rem;
  }
  .nav-recp label img {
    height: 1rem;
  }
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 0.8rem;
  }
  .recetas-varias .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 1rem;
    justify-items: center;
  }
  .recetas-varias .container-cards .recep-titles h3 {
    font-size: 0.6rem;
  }
  .recetas-varias .container-cards img {
    width: 4rem;
    height: 3rem;
  }
  .recetas-varias .container-cards .recep-but {
    font-size: 0.6rem;
    margin-bottom: 0;
  }
  .recetas-footer div .foot-recets {
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
  }
  .recetas-footer div ul li {
    font-size: 0.6rem;
    padding-left: 0.5rem;
  }
  .recetas-footer div ul li img {
    height: 0.5rem;
  }
  /**Más Info**/
  .mas-info div h1 {
    font-size: 2rem;
  }
  .mas-info div .info-body {
    font-size: 0.6rem;
  }
  .masinfo-footer .contactos {
    font-size: 0.7rem;
  }
  .masinfo-footer .contactos-masinfo li {
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
  /** Preparaciones **/
  .main-prep {
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
  }
  .main-prep button {
    font-size: 0.7rem;
    padding-right: 0;
    margin: 0;
  }
  .contacts-prep {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
  }
  .contacts-preparaciones {
    font-size: 0.6rem;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 375px) {
  /**Index**/
  .index-footer {
    font-size: 0.6rem;
  }
  .index-footer div h2 {
    padding-top: 0.2rem;
  }
  .index-footer ul li img {
    height: 0.7rem;
  }
  .titulo-principal {
    font-size: 1.5rem;
  }
  /**Sobre mí**/
  .seccion-sobremi .foto-sobremi img {
    width: 6rem;
    height: 10rem;
    margin-left: 0.2rem;
  }
  .seccion-sobremi .sobremi-ppal p {
    padding: 0 0.2rem;
  }
  .sobremi-footer ul li {
    font-size: 0.7rem;
    margin: 0.1rem;
  }
  /**Servicios**/
  .servicios .carousel-inner {
    margin-bottom: 5.5rem;
  }
  /**Recetas**/
  .recetas-footer div ul li {
    font-size: 0.6rem;
  }
  /**Más Info **/
  .mas-info div .info-body {
    padding: 0.4rem;
  }
  .mas-info div h1 {
    font-size: 1.6rem;
  }
  .masinfo-footer li img {
    width: 1rem;
  }
  /** Preparaciones **/
  .main-prep button {
    padding-right: 1rem;
    font-size: 0.6rem;
  }
}
@media (max-width: 320px) {
  /**Index**/
  header nav .logo {
    width: 12rem;
    height: 4rem;
  }
  nav label img {
    height: 1.2rem;
  }
  .main-ppal {
    font-size: 1.4rem;
    height: 70vh;
  }
  /**Sobre mí*/
  .seccion-sobremi .foto-sobremi img {
    display: none;
  }
  .seccion-sobremi .sobremi-ppal h1 {
    font-size: 1.2rem;
    margin: 0;
  }
  .seccion-sobremi .sobremi-ppal p {
    font-size: 0.6rem;
    padding: 0 0.5rem;
  }
  .certificaciones div h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  .sobremi-footer div .cont-sobremi {
    margin: 0;
    padding: 0;
  }
  .sobremi-footer ul li {
    margin: 0;
    padding: 0;
  }
  /** Servicios */
  .servicios h1 {
    text-align: right;
  }
  .servicios .carousel-inner {
    width: 100%;
    height: 100%;
    margin-bottom: 9rem;
  }
  /** Recetas **/
  .recetas-footer div ul {
    font-size: 0.2rem;
  }
  /** Más Info **/
  .mas-info {
    height: 74vh;
  }
  .mas-info div .info-body {
    padding: 0.3rem;
  }
  .mas-info div h1 {
    font-size: 1.5rem;
  }
  .masinfo-footer .contactos {
    font-size: 0.5rem;
  }
  .masinfo-footer .contactos-masinfo {
    padding: 0;
    margin: 0;
  }
  .masinfo-footer .contactos-masinfo li {
    font-size: 0.5rem;
  }
  .masinfo-footer .contactos-masinfo li img {
    width: 0.9rem;
    padding: 0;
    margin: 0;
  }
  /** Preparaciones */
  .main-prep h1 {
    font-size: 1.2rem;
  }
  .contacts-preparaciones {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
