@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #DBF6E9;
}
header .nav-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 13rem;
  height: 5rem;
}
header nav .menu ul {
  list-style: none;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  margin-right: 0.8rem;
}
header nav .menu ul li a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px grey;
}

nav #toggle, nav label {
  display: none;
}

nav label img {
  margin-right: 2rem;
}

.titulo-principal {
  font-family: "Great Vibes";
  text-align: left;
  color: white;
  font-size: 3.2rem;
  padding-top: 70px;
  padding-left: 2rem;
  padding-bottom: 2rem;
  text-shadow: 3px 1px rgba(105, 99, 99, 0.795);
  background-image: url(../assets/img/Home/background-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion-sobremi {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.seccion-sobremi div h1 {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  font-family: "Great Vibes";
  color: #52BBB4;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
  justify-content: right;
  padding-top: 0.5rem;
  padding-right: 4rem;
}
.seccion-sobremi div p {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}
.seccion-sobremi div img {
  width: 15rem;
  height: 25rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.certificaciones div h2 {
  font-family: "Great Vibes";
  color: #52BBB4;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
}
.certificaciones ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.certificaciones ul li p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.servicios h1 {
  font-family: "Great Vibes";
  color: #52BBB4;
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  margin-bottom: 1rem;
}

.carousel-inner {
  border-radius: 20px;
  text-shadow: 1px 1px black;
}

.servicios .carousel-inner h2 {
  font-size: 1rem;
  display: flex;
  padding-bottom: 0.5rem;
}
.servicios .carousel-inner p {
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

.recetas-varias {
  background-image: url(../assets/img/recetas/fondo.jpg);
  background-repeat: no-repeat;
  height: 100%;
}

section div img {
  width: 12rem;
  height: 10rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.titulo-recetas, .subtitulo-recetas {
  text-align: center;
  font-family: "Great Vibes";
  font-size: 2rem;
  padding: 0.5rem 0;
  text-shadow: 2px 2px 2px white;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-cards .card div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-cards div h3 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

button {
  margin-bottom: 0.8rem;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 10px;
  padding: 3.5px;
}

button:hover {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  background-color: lightcyan;
}

.mas-info {
  background-image: url(../assets/img/mas-info/fondo-mas-info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 78vh;
}
.mas-info h1 {
  font-family: "Great Vibes";
  text-align: center;
  color: #52BBB4;
  font-size: 3rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px white;
}
.mas-info .info-body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 10rem;
  text-indent: 3rem;
  line-height: 2rem;
  text-shadow: 2px 1px 1px white;
}

footer {
  background-color: #DBF6E9;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
}
footer div h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  padding-top: 0.5rem;
  text-decoration: underline;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
footer ul li {
  display: inline-block;
  padding-bottom: 0.5rem;
}
footer ul li a {
  text-decoration: none;
  list-style: none;
}

@media (max-width: 1440px) {
  /**Index**/
  .titulo-principal {
    height: 81vh;
  }
  /**Sobre mí**/
  .seccion-sobremi div h1 {
    margin-top: 1rem;
  }
  .seccion-sobremi div p {
    margin-top: 2rem;
  }
  .certificaciones {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .certificaciones div ul li p {
    margin-bottom: 2rem;
  }
  .sobremi-footer div h2 {
    padding-top: 1.2rem;
    padding-bottom: 1.3rem;
  }
  .sobremi-footer ul li {
    margin-bottom: 1.3rem;
  }
  /***Servicios***/
  .servicios h1 {
    font-size: 3rem;
    padding-top: 0.5rem;
  }
  .servicios .row {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .servicios .carousel-inner {
    width: 70%;
    height: 10%;
  }
  .servicios-footer div h2 {
    font-size: 1.5rem;
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 1.2rem;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias .container-cards h3 {
    font-size: 1.2rem;
  }
  .recetas-varias .container-cards button {
    margin-bottom: 2rem;
  }
  .recetas-footer div ul li {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
  /**Más Info**/
  .masinfo-footer {
    font-size: 0.9rem;
  }
}
@media (max-width: 1366px) {
  /**Index**/
  .titulo-principal {
    height: 75vh;
  }
  /**Sobre mí**/
  .sobremi-footer div h2 {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  .sobremi-footer ul li {
    margin-bottom: 0.5rem;
  }
  .certificaciones {
    margin-top: 0.8rem;
  }
  .certificaciones div ul li p {
    margin: 0;
  }
  .seccion-sobremi div img {
    width: 12rem;
    height: 20rem;
  }
  .seccion-sobremi div p {
    margin-top: 0.7rem;
  }
  /**Servicios**/
  .servicios h1 {
    font-size: 2.7rem;
    padding-top: 0.1rem;
  }
  .servicios .row {
    margin-top: 0;
  }
  .servicios-footer div h2 {
    font-size: 1.2rem;
  }
  .servicios-footer ul li {
    font-size: 1rem;
  }
  /**Recetas**/
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.7rem;
    padding: 0.1rem;
  }
  .container-cards h3 {
    font-size: 0.8rem;
  }
  section div img {
    width: 11rem;
    height: 8rem;
  }
  .container-cards button {
    margin-bottom: 1rem;
  }
  .recetas-footer div h2 {
    font-size: 1rem;
  }
  .recetas-footer div ul li {
    font-size: 1rem;
    margin-bottom: 0;
  }
  /**Más Info**/
  .masinfo-footer .contactos {
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .titulo-principal {
    font-size: 2rem;
    height: 76vh;
  }
  .index-footer div h2 {
    font-size: 0.9rem;
    padding-bottom: 0.8rem;
  }
  .index-footer ul li {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  /**Sobre mí**/
  .seccion-sobremi div h1 {
    margin: 0;
    font-size: 2rem;
  }
  .seccion-sobremi div p {
    margin: 0;
    font-size: 0.9rem;
  }
  .seccion-sobremi div img {
    width: 15rem;
    height: 22rem;
    margin-left: 1rem;
  }
  .certificaciones {
    margin: 0;
  }
  .certificaciones div h2 {
    font-size: 2rem;
  }
  .certificaciones ul li p {
    font-size: 0.9rem;
  }
  .sobremi-footer div h2 {
    padding: 0;
    font-size: 0.9rem;
  }
  .sobremi-footer ul li {
    margin: 0.3rem;
    font-size: 0.8rem;
  }
  /** Servicios **/
  .servicios h1 {
    font-size: 2rem;
    padding-top: 0.2rem;
  }
  .servicios .row {
    margin-top: 0;
  }
  .servicios .carousel-inner {
    width: 55%;
    height: 10%;
  }
  .servicios-footer div h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.5rem;
    padding: 0.3rem 0;
  }
  .recetas-varias .container-cards h3 {
    font-size: 0.8rem;
  }
  .recetas-varias .container-cards h3 button {
    margin-bottom: 1rem;
  }
  .recetas-varias .container-cards img {
    width: 10rem;
    height: 8rem;
  }
  .recetas-footer div h2 {
    font-size: 0.9rem;
    padding: 0;
  }
  .recetas-footer div ul li {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .mas-info {
    height: 75vh;
  }
  .mas-info h1 {
    margin-bottom: 0;
    padding-top: 0.5rem;
    font-size: 2.5rem;
  }
  .mas-info div .info-body {
    font-size: 0.9rem;
    padding: 0.5rem 5rem;
    text-indent: 1rem;
    line-height: 1rem;
  }
  .masinfo-footer .contactos {
    padding-bottom: 0;
    padding-top: 0.5rem;
  }
  .masinfo-footer div .contactos-masinfo {
    font-size: 0.8rem;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  /**Sobre mi**/
  .seccion-sobremi div p {
    font-size: 0.8rem;
    padding: 0 2rem;
  }
  .seccion-sobremi div img {
    width: 12rem;
    height: 18rem;
  }
  .certificaciones div h2 {
    margin-top: 1.5rem;
  }
  .certificaciones ul li p {
    font-size: 0.8rem;
  }
  .sobremi-footer ul li {
    font-size: 0.8rem;
    margin: 0;
    padding: 0.1rem 0;
    display: flex;
    justify-content: center;
  }
  /**Servicios**/
  .carousel-inner {
    width: 70%;
    height: 20%;
    margin-bottom: 3.4rem;
  }
  .servicios h1 {
    font-size: 2.5rem;
  }
  .servicios-footer div h2 {
    padding: 0;
  }
  .servicios-footer ul li {
    font-size: 0.8rem;
    padding: 0;
  }
  /**Recetas**/
  .recetas-varias .container-cards img {
    width: 8rem;
    height: 7rem;
  }
  .recetas-varias .container-cards h3 {
    font-size: 0.7rem;
  }
  .recetas-footer div ul li {
    font-size: 0.8rem;
  }
  /**Más Info**/
  .mas-info {
    height: 68vh;
  }
  .mas-info div .info-body {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
  }
  .mas-info div .contactos-masinfo {
    font-size: 0.7rem;
  }
}
@media (max-width: 425px) {
  .titulo-principal {
    background-size: cover;
  }
  .index-footer div h2 {
    padding-bottom: 0.4rem;
  }
  .index-footer ul li {
    display: inline-flex;
    padding: 0;
    padding-left: 0.5rem;
    height: 0.7rem;
  }
  nav .logo {
    width: 9rem;
    height: 3rem;
  }
  .seccion-sobremi div img {
    width: 8rem;
    height: 13rem;
  }
  .seccion-sobremi div p {
    font-size: 0.6rem;
    padding: 0 1rem;
  }
  .certificaciones div h2 {
    margin-top: 1rem;
  }
  .certificaciones ul li p {
    font-size: 0.6rem;
  }
  .sobremi-footer ul li {
    font-size: 0.7rem;
    margin: 0;
  }
  .servicios h1 {
    font-size: 2rem;
  }
  .servicios .carousel-inner {
    width: 100%;
    height: 100%;
  }
  .servicios-footer {
    margin: 0;
  }
  .recetas-varias .titulo-recetas, .recetas-varias .subtitulo-recetas {
    font-size: 1.2rem;
  }
  .recetas-varias .container-cards {
    display: block;
    justify-content: space-around;
  }
  .recetas-varias .container-cards img {
    display: none;
  }
  .recetas-varias .container-cards button {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
  .recetas-footer div ul li {
    font-size: 0.7rem;
  }
  /**Más Info**/
  .mas-info div h1 {
    font-size: 2rem;
  }
  .mas-info div .info-body {
    font-size: 0.6rem;
  }
  .masinfo-footer .contactos {
    font-size: 0.7rem;
  }
  .masinfo-footer .contactos-masinfo li {
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
}
@media (max-width: 375px) {
  /**Index**/
  .index-footer {
    font-size: 0.6rem;
  }
  .index-footer div h2 {
    padding-top: 0.2rem;
  }
  .index-footer ul li img {
    height: 0.7rem;
  }
  .titulo-principal {
    font-size: 1.5rem;
  }
  /**Sobre mí**/
  .seccion-sobremi div img {
    width: 6rem;
    height: 10rem;
    margin-left: 0.5rem;
  }
  .seccion-sobremi div p {
    padding: 0 0.2rem;
  }
  .sobremi-footer ul li {
    display: block;
    font-size: 0.7rem;
    margin: 0.1rem;
  }
  /**Servicios**/
  .servicios .carousel-inner {
    margin-bottom: 3.7rem;
  }
  /**Recetas**/
  .recetas-footer div ul li {
    font-size: 0.6rem;
  }
  /**Más Info **/
  .mas-info div .info-body {
    padding: 0.4rem;
  }
  .mas-info div h1 {
    font-size: 1.6rem;
  }
  .masinfo-footer li img {
    width: 1rem;
  }
}
@media (max-width: 320px) {
  /**Index**/
  header nav .logo {
    width: 12rem;
    height: 4rem;
  }
  nav label img {
    height: 1.2rem;
  }
  .titulo-principal {
    font-size: 1.4rem;
    height: 75vh;
  }
  /**Sobre mí*/
  .seccion-sobremi div h1 {
    font-size: 1.5rem;
  }
  .seccion-sobremi div img {
    display: none;
  }
  .seccion-sobremi div p {
    font-size: 0.7rem;
  }
  .certificaciones div h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  .certificaciones ul li p {
    font-size: 0.7rem;
    list-style: none;
    padding: 0 0.5rem;
  }
  .sobremi-footer div h2 {
    margin: 0;
    padding: 0;
  }
  .sobremi-footer ul li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  /** Servicios */
  .servicios h1 {
    text-align: right;
  }
  .servicios .carousel-inner {
    width: 100%;
    height: 100%;
    margin-bottom: 7rem;
  }
  /** Más Info **/
  .mas-info {
    height: 74vh;
  }
  .mas-info div .info-body {
    padding: 0.3rem;
  }
  .mas-info div h1 {
    font-size: 1.5rem;
  }
  .masinfo-footer .contactos {
    font-size: 0.5rem;
  }
  .masinfo-footer .contactos-masinfo {
    padding: 0;
    margin: 0;
  }
  .masinfo-footer .contactos-masinfo li {
    font-size: 0.5rem;
  }
  .masinfo-footer .contactos-masinfo li img {
    width: 0.9rem;
    padding: 0;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
