footer{
    background-color: $background-main;
    font-family: $font-secundario;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    div h2{
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        text-decoration: underline;
        padding-bottom: 1rem;
    }
    ul li{
        display:inline-block;
        padding-bottom: 0.5rem;
        a{
            text-decoration: none;
            list-style: none;
        }
    }
}