.seccion-sobremi{
    font-size: $font-size;
    display: flex;
    justify-content: space-evenly;
    .sobremi-ppal h1{
        @include flex (none, none, none, none);
        font-family: $font-principal;
        color: $color-principal;
        font-size: 3rem;
        text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
        justify-content: right;
        padding-top: 0.5rem;
        padding-right: 4rem;
    }
    .sobremi-ppal p{
        font-family: $font-secundario;
        display: flex;
        justify-content: center;
        padding: 0 4rem;
    }
    .foto-sobremi img{
        width: 15rem;
        height: 25rem;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
}

.certificaciones{
    div h2{
        font-family: $font-principal;
        color: $color-principal;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
    }
    .list-certif{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .list-certif li p{
        font-family: $font-secundario;
        font-size: $font-size;
    }
}