main h1{
    font-family: $font-principal;
    color: $color-principal;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

.row{
    @include flex (row, wrap, center, none);
    margin-bottom: 1rem;
}
.carousel-inner{
    border-radius: 20px;
    text-shadow: 1px 1px black;
}
