main{
    font-family: $font-principal;
    text-align: right;
    font-style: normal;
    font-size: 3.4rem;
    font-weight: 200;
    padding-top: 70px;
    padding-right: 100px;
    text-shadow: 3px 1px rgba(0, 0, 0, 0.795);
}