.recetas-varias{
    background-image: url(../assets/img/recetas/fondo.jpg);
    background-repeat: no-repeat;
    height: 100%;
}

section div img{
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
}
h1, h2{
    text-align: center;
    font-family: $font-principal;
    font-size: 2rem;
    padding: 0.5rem 0;
    text-shadow: 2px 2px 2px white;
}
.container-cards{
    @include flex(row, wrap, space-evenly, center);
    .card div{
        @include flex (column, wrap, center, center)
    }
    div h3{
        font-family: $font-secundario;
    }
}
button{
    margin-bottom: 0.3rem;
}
