@media(max-width:320px){
    header nav .logo{
        width: 12rem;
        height: 4rem;
    }
    nav label img{
        height: 1.2rem;
    }
    .titulo-principal{
        font-size: 1.4rem;
        height: 75vh;
    }
}