@media(max-width:768px){
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: white;
        cursor:pointer;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
    }
    /**Sobre mi**/
    .seccion-sobremi{
        div p{
            font-size: 0.8rem;
            padding: 0 2rem;
        }
        div img{
            width: 12rem;
            height: 18rem;
        }
    }
    .certificaciones{
        div h2{
            margin-top: 1.5rem;
        }
        ul li p{
            font-size: 0.8rem;
        }
    }
    .sobremi-footer{
        ul li{
            font-size: 0.8rem;
            margin: 0;
            padding: 0.1rem 0;
            display: flex;
            justify-content: center;
        }
    }

    /**Servicios**/
    .carousel-inner{
        width: 70%;
        height: 20%;
        margin-bottom: 3.4rem;
    }
    .servicios h1{
        font-size: 2.5rem;
        
    }
    .servicios-footer{
        div h2{
            padding: 0;
        }
        ul li{
            font-size: 0.8rem;
            padding: 0;
        }
    }

    /**Recetas**/
    .recetas-varias{
        .container-cards img{
            width: 8rem;
            height: 7rem;
        }
        .container-cards h3{
            font-size: 0.7rem;
        }
    }
    .recetas-footer{
        div ul li{
            font-size: 0.8rem;
        }
    }

    /**Más Info**/
    .mas-info{
        height: 68vh;
        div .info-body{
            padding: 0.5rem 2rem;
            font-size: 0.8rem;
        }
        div .contactos-masinfo{
            font-size: 0.7rem;
        }
    }
}