@media(max-width:320px){
    header nav .logo{
        width: 12rem;
        height: 4rem;
    }
    nav label img{
        height: 1.2rem;
    }
    .titulo-principal{
        font-size: 1.4rem;
        height: 75vh;
    }
    .seccion-sobremi{
        div h1{
            font-size: 1.5rem;
        }
        div img{
            display: none;
        }
        div p{
            font-size: 0.7rem;
        }
    }
    .certificaciones{
        div h2{
            margin: 0;
            font-size: 1.5rem;
        }
        ul li p{
            font-size: 0.7rem;
            list-style: none;
            padding: 0 0.5rem;
        }
    }
    .sobremi-footer{
        div h2{
            margin: 0;
            padding: 0;
        }
        ul li{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
    }
    .servicios{
        h1{
            text-align: center;
        }
        .carousel-inner{
            width: 12rem;
            height: 18rem;
            margin-bottom: 4rem;
        }
    }
}