@media (max-width:375px){
    /**Index**/
    .index-footer{
        font-size: 0.6rem;
        div h2{
            padding-top: 0.2rem;
        }
        ul li img{
            height: 0.7rem;
        }
    }
    .titulo-principal{
        font-size: 1.5rem;
    }

    /**Sobre mí**/
    .seccion-sobremi{
        .foto-sobremi img{
            width: 6rem;
            height: 10rem;
            margin-left: 0.2rem;
        }
        .sobremi-ppal p{
            padding: 0 0.2rem;
        }
    }
    .sobremi-footer{
        ul li{
            font-size: 0.7rem;
            margin: 0.1rem;
        }
    }

    /**Servicios**/
    .servicios{
        .carousel-inner{
            margin-bottom: 5.5rem;
        }
    }


    /**Recetas**/
    .recetas-footer{
        div ul li{
            font-size: 0.6rem;
        }
    }

    /**Más Info **/
    .mas-info{
        div .info-body{
            padding: 0.4rem;
        }
        div h1{
            font-size: 1.6rem;
        }
    }
    .masinfo-footer{
        li img{
            width: 1rem;
        }
    }

    /** Preparaciones **/
    .main-prep{
        button{
            padding-right: 1rem;
            font-size: 0.6rem;
        }
    }

}