@media(max-width:1024px){
    .titulo-principal{
        font-size: 2rem;
        height: 76vh;
    }
    footer{
        div h2{
            font-size: 0.9rem;
            padding-bottom: 0.8rem;
        }
        ul li{
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
        }
    }
}