@media (max-width:425px){
    .titulo-principal{
        background-size: cover;
    }
    .index-footer{
        div h2{
        padding-bottom: 0.4rem;
    }
        ul li{
        display: inline-flex;
        padding: 0;
        padding-left: 0.5rem;
        height: 0.7rem;
    }
    }
    nav .logo{
        width: 9rem;
        height: 3rem;
    }
    .seccion-sobremi{
        div img{
        width: 8rem;
        height: 13rem;
        }
        div p{
            font-size: 0.6rem;
            padding: 0 1rem;
        }
    }
    .certificaciones{
        div h2{
            margin-top: 1rem;
        }
        ul li p{
            font-size: 0.6rem;
        }
    }
    .sobremi-footer{
        ul li{
            font-size: 0.7rem;
            margin: 0;
        }
    }
    .servicios{
        .carousel-inner{
            width: 15rem;
            height: 20rem;
            margin-right: 3rem;
            margin-bottom: 3rem;
        }
    }
    .recetas-varias{
        .titulo-recetas, .subtitulo-recetas{
            font-size: 1.2rem;
        }
        .container-cards{
            display: block;
            justify-content: space-around;
        }
        .container-cards img{
            display: none;
        }
        .container-cards button{
            font-size: 0.7rem;
            margin-bottom: 0;
        }
    }
    .recetas-footer{
        div ul li{
            font-size: 0.7rem;
        }
    }
}