@media(max-width:1024px){
    /** Index **/
    .main-ppal{
        height: 75vh;
    }
    .titulo-principal{
        font-size: 3rem;
    }
    .index-footer{
        div h2{
            font-size: 0.9rem;
            padding-bottom: 0;
        }
        ul li{
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
        }
    }
    /**Sobre mí**/
    .seccion-sobremi{
        .sobremi-ppal h1{
            margin: 0;
            font-size: 2rem;
        }
        .sobremi-ppal p{
            font-size: 0.8rem;
            padding: 0 0.9rem;
        }
        .foto-sobremi img{
            width: 10rem;
            height: 17rem;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }

    .certificaciones{
        margin: 0;
        div h2{
            font-size: 2rem;
        }
        .list-certif li p{
            font-size: 0.8rem;
        }
    }

    .sobremi-footer{
        div .cont-sobremi{
            padding: 0;
            font-size: 0.9rem;
            margin: 0;
        }
        ul li{
            margin: 0.3rem;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    /** Servicios **/
    .servicios{
        h1{
            font-size: 2rem;
            padding-top: 0.2rem;
        }
        .row{
            margin-top: 0;
        }
        .carousel-inner{
            width: 60%;
            height: 10%;
        }
    }
    .servicios-footer{
        div .cont-servi{
            font-size: 0.9rem;
            margin: 0;
            padding: 0;
        }
        ul li{
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
        }
    }

    /**Recetas**/
    .recetas-varias{
        .titulo-recetas{
            font-size: 1.5rem;
            padding: 0.2rem 0;
        }
        .container-cards h3{
            font-size: 0.8rem;
        }
        .container-cards .recep-but{
            margin-bottom: 1rem;
        }
        .container-cards img{
            width: 8rem;
            height: 6rem;
        }
    }
    .recetas-footer{
        div .foot-recets{
            font-size: 0.8rem;
            padding: 0;
        }
        div ul li{
            font-size: 0.8rem;
            margin-bottom: 0;
        }
    }

    //**Más Info*//
    .mas-info{
        height: 75vh;
        h1{
            margin-bottom: 0;
            padding-top: 0.5rem;
            font-size: 2.5rem;
        }
        div .info-body{
            font-size: 0.9rem;
            padding: 0.5rem 5rem;
            text-indent: 1rem;
            line-height: 1rem;
        }
    }
    .masinfo-footer{
        .contactos{
            padding-bottom: 0;
            padding-top: 0.5rem;
        }
        div .contactos-masinfo{
            font-size: 0.8rem;
            padding-bottom: 0;
        }
    }

    
    /**Preparaciones **/
    .main-prep{
        button{
            font-size: 0.8rem;
            margin: 0;
        }
        h1{
            font-size: 1.5rem;
            padding-top: 0.2rem;
            padding-bottom: 0;
        }
    }
    .accordion-body{
        line-height: 0.5rem;
        font-size: 0.8rem;
    }
    .contacts-prep{
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }
    .contacts-preparaciones li{
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }
    .contacts-preparaciones li img{
        font-size: 0.9rem;
    }
}