@media(max-width:320px){
    /**Index**/
    header nav .logo{
        width: 12rem;
        height: 4rem;
    }
    nav label img{
        height: 1.2rem;
    }
    .main-ppal{
        font-size: 1.4rem;
        height: 70vh;
    }

    /**Sobre mí*/
    .seccion-sobremi{
        .foto-sobremi img{
            display: none;
        }
        .sobremi-ppal h1{
            font-size: 1.2rem;
            margin: 0;
        }
        .sobremi-ppal p{
            font-size: 0.6rem;
            padding: 0 0.5rem;
        }
    }
    .certificaciones{
        div h2{
            margin: 0;
            font-size: 1.2rem;
        }
    }
    .sobremi-footer{
        div .cont-sobremi{
            margin: 0;
            padding: 0;
        }
        ul li{
            margin: 0;
            padding: 0;
        }
    }

    /** Servicios */
    .servicios{
        h1{
            text-align: right;
        }
        .carousel-inner{
            width: 100%;
            height: 100%;
            margin-bottom: 9rem;
        }
    }

    /** Recetas **/
    .recetas-footer{
        div ul{
            font-size: 0.2rem;
        }
    }



    /** Más Info **/
    .mas-info{
        height: 74vh;
        div .info-body{
            padding: 0.3rem;
        }
        div h1{
            font-size: 1.5rem;
        }
    }
    .masinfo-footer{
        .contactos{
            font-size: 0.5rem;
        }
        .contactos-masinfo{
            padding: 0;
            margin: 0;
            li{
                font-size: 0.5rem;
            }
            li img{
                width: 0.9rem;
                padding: 0;
                margin: 0;
            }
        }
    }

    /** Preparaciones */
    .main-prep{
        h1{
            font-size: 1.2rem;
        }
    }
    .contacts-preparaciones{
        font-size: 0.5rem;
    }
}