@media (max-width:1440px){
    /**Index**/
    .titulo-principal{
        height: 81vh;
    }

    /**Sobre mí**/
    .seccion-sobremi{
        div h1{
            margin-top: 1rem;
        }
        div p{
            margin-top: 2rem;
        }
    }
    .certificaciones{
        margin-top: 4rem;
        margin-bottom: 2rem;
        div ul li p{
            margin-bottom: 2rem;
        }
    }
    .sobremi-footer{
        div h2{
            padding-top: 1.2rem;
            padding-bottom: 1.3rem;
        }
        ul li{
            margin-bottom: 1.3rem;
        }
    }

    /***Servicios***/
    .servicios{
        h1{
            font-size: 3rem;
            padding-top: 0.5rem;
        }
        .row{
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
        }
        .carousel-inner{
            width: 70%;
            height: 10%;
        }
    }
    .servicios-footer{
        div h2{
            font-size: 1.5rem;
            padding: 0;
        }
        ul li{
            font-size: 1.2rem;
            padding: 0;
        }
    }

    /**Recetas**/
    .recetas-varias{
        .container-cards h3{
            font-size: 1.2rem;
        }
        .container-cards button{
            margin-bottom: 2rem;
        }
    }
    .recetas-footer{
        div ul li{
            font-size: 1.2rem;
            margin-bottom: 2.5rem;
        }
    }

    /**Más Info**/
    .masinfo-footer{
        font-size: 0.9rem;
    }
}