@media (max-width:1366px){
    /**Index**/
    .main-ppal{
        height: 75vh;
    }

    /**Sobre mí**/
    .seccion-sobremi{
        .foto-sobremi img{
            width: 12rem;
            height: 20rem;
        }
        .sobremi-ppal p{
            margin-top: 0.7rem;
        }
    }
    .certificaciones{
        margin-top: 0.8rem;
        margin-bottom: 2rem;
    }
    .sobremi-footer{
        div .cont-sobremi{
            padding-top: 0.7rem;
            padding-bottom: 0.5rem;
            font-size: 1.2rem;
        }
        ul li{
            margin-bottom: 1rem;
        }
    }

    /**Servicios**/
    .servicios{
        h1{
            font-size: 2.7rem;
            padding-top: 0.1rem;
        }
        .row{
            margin-top: 0;
        }
    }
    .servicios-footer{
        div .cont-servi{
            font-size: 1rem;
        }
        ul li{
            font-size: 1rem;
        }
    }
    
    /**Recetas**/
    .recetas-varias{
        .titulo-recetas{
            font-size: 1.7rem;
            padding: 0.1rem;
        }
    }
    .container-cards h3{
        font-size: 0.8rem;
    }
    section div img{
        width: 11rem;
        height: 8rem;
    }
    .container-cards .recep-but{
        margin-bottom: 1.5rem;
    }
    .recetas-footer{
        div .foot-recets{
            font-size: 1rem;
        }
        div ul li{
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    /**Más Info**/
    .masinfo-footer{
        .contactos{
            font-size: 0.8rem;
        }
    }

    /**Preparaciones**/
    .main-prep{
        button{
            margin: 0.5rem;
        }
    }
    .contacts-prep{
        font-size: 1.2rem;
    }
    .contactos-preparaciones li{
        font-size: 1rem;
    }
}